* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: black
}

.sticky-navbar {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 10px 0;
    z-index: 1000;
}

.sticky-navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.sticky-navbar ul li {
    margin: 0;
}

.sticky-navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.sticky-navbar ul li a.active {
    background-color: #555; /* Highlight the active link */
}

.section {
    padding: 100px;
    height: auto;
    min-height: 100vh; /* Simulate different sections */
}

.section:nth-child(even) {
    background-color: #f4f4f4;
}

.section:nth-child(odd) {
    background-color: #ddd;
}
